.container {
 margin-left: 40px
}
.spotName {
  display: flex;
}

.singleSpotImg {
  max-width: 500px;
  border-radius: 10px;
}

.price {
  font-weight: bolder;
  font-size: 30px;
  display: flex;
  padding-top: 20px;
}

.spotHeader {
  display: flex;
  padding-bottom: 20px;
}

.reviews {
  padding-left: 10px;
  text-decoration: underline;
}

.location {
  padding-left: 10px;
  text-decoration: underline;
}

